
@using tl2_tp09_2023_TomasDLV.Models;

@model Tablero
@{ 
    ViewData["Title"] = "Crear Tablero";
}



<h1>@ViewData["Title"]</h1>
<form asp-controller="Tablero" asp-action="createBoard" method="post">
    <div class="form-group">
        <label asp-for="@Model.IdUsuarioPropietario"></label>
        <input asp-for="@Model.IdUsuarioPropietario" class="form-control" id="nombre" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.Nombre"></label>
        <input asp-for="@Model.Nombre" class="form-control" id="nombre" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.Descripcion"></label>
        <input asp-for="@Model.Descripcion" class="form-control" id="nombre" />
    </div>
    <button type="submit" class="btn btn-primary" >Enviar</button>
</form>