
@model tl2_tp10_2023_TomasDLV.ViewModels.ModificarTableroViewModel

<form asp-controller="Tablero" asp-action="editBoard" method="post">
    <input type="hidden" asp-for="@Model.Id" />
    <input type="hidden" asp-for="@Model.IdUsuarioPropietario" />
    <div class="mb-3">
        <label class="form-label" asp-for="@Model.Nombre">Nombre de Tablero: </label>
        <input asp-for="@Model.Nombre" class="form-control" />
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="@Model.Descripcion">Descripción: </label>
        <input asp-for="@Model.Descripcion" class="form-control" />
    </div>

   

    <button class="btn btn-primary" type="submit">Guardar Cambios</button>
</form>