
@model tl2_tp10_2023_TomasDLV.ViewModels.ListarTablerosViewModel;
@{
    ViewData["Title"] = "Index";
}



<h1>@ViewData["Title"]</h1>

<table class="table table-light">
    <thead>
        <tr>
            
            <th style="text-align: center;">ID</th>
            <th style="text-align: center;">ID USER OWNER</th>
            <th style="text-align: center;">NOMBRE</th>
            <th style="text-align: center;">DESCRIPCIÓN</th>
            <td style="text-align: center;">ACCIONES</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var t in Model.tableros)
        {
            <tr>
                <td style="text-align: center;">@t.Id</td>
                <td style="text-align: center;">@t.IdUsuarioPropietario</td>
                <td style="text-align: center;">@t.Nombre</td>
                <td style="text-align: center;">@t.Descripcion</td>
                <td style="text-align: center;">
                    <div style="display: flex; justify-content: center; gap: 10px;">
                        <a asp-controller="Tablero" asp-action="editBoard" asp-route-idBoard="@t.Id" class="btn btn-primary">Editar</a>
                        <form asp-controller="Tablero" asp-action="removeBoard" method="post" onsubmit="return confirm('¿Estás seguro que quieres eliminar el usuario?')">
                            <input type="hidden" name="id" value="@t.Id" />
                            <button type="submit" class="btn btn-danger">Eliminar</button>
                        </form>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>


