@model tl2_proyecto_TomasDLV.ViewModels.CrearTareaViewModel
@{
    ViewData["Title"] = "Crear Tarea";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="card rounded shadow-sm" style="background: linear-gradient(to right, #800080, #FF69B4);">
                <div class="card-body">
                    <h1 class="text-center mb-4" style="color: white;">@ViewData["Title"]</h1>

                    <form asp-controller="Tarea" asp-action="createTask" method="post">
                        <input type="hidden" asp-for="@Model.IdTablero" class="form-control" id="nombre" />

                        <div class="form-group">
                            <label for="nombre" style="color: white;">Nombre:</label>
                            <input asp-for="@Model.Nombre" class="form-control" id="nombre" />
                            <span asp-validation-for="@Model.Nombre" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label for="estado" style="color: white;">Estado:</label>
                            <select asp-for="@Model.Estado" class="form-control" id="estado">
                                <option value="Ideas">Ideas</option>
                                <option value="Pendientes">Pendientes</option>
                                <option value="EnProceso">EnProceso</option>
                                <option value="Revisar">Revisar</option>
                                <option value="Terminado">Done</option>
                            </select>
                            <span asp-validation-for="@Model.Estado" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label for="descripcion" style="color: white;">Descripción:</label>
                            <textarea class="form-control" id="descripcion" oninput="autoResize(this)"
                                asp-for="@Model.Descripcion"></textarea>
                        </div>

                        <div class="form-group">
                            <label for="colorPicker" style="color: white;">Color:</label>
                            <input type="color" id="colorPicker" name="Color" class="form-control" />
                        </div>


                        <div class="form-group">
                            <label for="idUsuarioAsignado" style="color: white;">Usuario Asignado:</label>
                            <select asp-for="@Model.IdUsuarioAsignado" class="form-control" id="idUsuarioAsignado">
                                @foreach (var user in Model.Usuarios)
                                {
                                    <option value="@user.Id">@user.Nombre_de_usuario</option>
                                }
                            </select>
                            <span asp-validation-for="@Model.IdUsuarioAsignado" class="text-danger"></span>
                        </div>

                        <div class="text-center">
                            <button type="submit" class="btn btn-primary btn-lg"
                                style="background-color: #800080;">Enviar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        function autoResize(textarea) {
            textarea.style.height = 'auto'; // Restablece la altura a automático para que se ajuste al contenido
            textarea.style.height = textarea.scrollHeight + 'px'; // Establece la altura según el contenido
        }
    </script>
}
