@model tl2_tp10_2023_TomasDLV.ViewModels.ListarTareasViewModel
@{
    ViewData["Title"] = "Index";
    
    // Agrupar las tareas por estado
    var tasksByState = Model.Tareas.GroupBy(t => t.Estado).ToDictionary(g => g.Key, g => g.ToList());
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    @foreach (var state in Enum.GetValues(typeof(tl2_tp09_2023_TomasDLV.Models.EstadoTarea)))
    {
        <div class="col">
            <h2>@state</h2>
            @if (tasksByState.ContainsKey((tl2_tp09_2023_TomasDLV.Models.EstadoTarea)state))
            {
                foreach (var task in tasksByState[(tl2_tp09_2023_TomasDLV.Models.EstadoTarea)state])
                {
                    <div class="card mb-3" style="background-color: @task.Color;">
                        <div class="card-body">
                            <h5 class="card-title">@task.Nombre</h5>
                            <p class="card-text">@task.Descripcion</p>
                            <!-- Botón de editar -->
                            <a asp-controller="Tarea" asp-action="editTask" asp-route-id="@task.Id" class="btn btn-primary">Editar</a>
                        </div>
                    </div>
                }
            }
        </div>
    }
</div>
