@model tl2_tp10_2023_TomasDLV.ViewModels.ModificarUsuarioViewModel;

<form asp-controller="Usuario" asp-action="editUser" method="post">
    <input type="hidden" asp-for="@Model.Id" />

    <div class="mb-3">
        <label class="form-label" asp-for="@Model.Nombre">Nombre de Usuario: </label>
        <input asp-for="@Model.Nombre" class="form-control" />
    </div>
    <div class="form-group">
        <label>Contraseña</label>
        <input asp-for="@Model.Contrasenia" class="form-control" id="nombre" />
    </div>
    <label asp-for="@Model.Rol"></label>
    <select asp-for="@Model.Rol" class="form-control" id="rol">

        <option value="1">Administrador</option>
        <option value="2">Operador</option>
    </select>


    <button class="btn btn-primary" type="submit">Guardar Cambios</button>
</form>